*.class
*.log
*.swp
.gradle/*
target/*
.classpath
build/*
out/*
.idea/*
.DS_Store
Thumbs.db
*.jar
*.war
*.ear
*.iml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

